.about {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 62px 45px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 120px 103px;
  }
}

.about__container {
  position: relative;

  display: block;
  min-height: 732px;
  padding-bottom: 83px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    min-height: 571px;
    padding-bottom: 60px;

    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    min-height: auto;
    padding-bottom: 119px;

    gap: 85px;
    grid-template-columns: 355px 1fr;
  }
}

.about__container-text {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    align-self: center;
    margin-bottom: 37px;

    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.about__container-title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;

    text-align: start;
  }
}

.about__container-subtitle {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 18px;
  line-height: 111%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;

    font-weight: 400;
    font-size: 22px;
    text-align: start;
  }
}

.about__container-text p {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 505px;

    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 7px;

    text-align: start;
  }
}

.about__container-text p:last-of-type {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.about__container-image {
  position: absolute;
  bottom: 207px;
  left: 50%;

  width: 100%;
  height: 280px;
  padding-top: 0;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: static;

    align-self: center;
    height: 345px;

    transform: none;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    width: 660px;
    height: 400px;
    padding: 0;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
  }
}

.about__container-image img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
