.about {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 240px;
  }
}

.about__container-text {
  margin-bottom: 36px;
}

.about__container-title {
  margin-bottom: 12px;
}

.about__container-subtitle {
  margin: 0;
  margin-bottom: 36px;

  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
}

.about__container-text p {
  margin: 0;
}

.about__container-text p:last-of-type {
  display: none;
}

.about__container-image {
  display: block;
  width: 100%;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 400px;
  }
}

.about__container-image img {
  display: block;
  width: 100%;
  height: 100%;
}
