.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 138px 0 140px;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}
