.gym {
  min-height: 860px;

  @media (min-width: $tablet-width) {
    min-height: 754px;
  }

  @media (min-width: $desktop-width) {
    min-height: 636px;
  }
}

.gym__wrapper {
  padding: 0;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 355px 1fr;
    column-gap: 157px;
    max-width: 1250px;
    padding: 120px 44px 20px 91px;
  }
}

.gym__content {
  padding: 40px 15px 0;

  @media (min-width: $tablet-width) {
    padding: 61px 15px 0;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    padding: 0;
  }
}

.gym__header {
  margin: 0;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  font-family: $alumni;
  font-weight: $semi-bold;
  color: $color-sapphire;
  font-size: 30px;
  line-height: 32px;
  text-align: start;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: normal;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 0;
    margin-right: 35px;
  }
}

.gym__description {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  text-align: start;
  color: $color-sapphire;
  font-family: $roboto;
  font-weight: $regular;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 20px 0 0;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    letter-spacing: 0.06em;
    display: flex;
    margin-left: 12px;
  }
}

.gym__text {
  margin-top: 36px;
  font-family: $roboto;
  font-weight: $light;
  color: $color-sapphire;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 35px;
  }

  @media (max-width: $tablet-width) {
    p:not(:first-child) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
  }

  // По требованию в ТЗ - эту часть нужно стилизовать каскадом от родителя

  p {
    margin: 0;

    &:first-child {
      margin-bottom: 36px;

      @media (min-width: $tablet-width) {
        text-align: center;
        width: 502px;
        margin: 0 auto;
        margin-bottom: 36px;
      }

      @media (min-width: $desktop-width) {
        text-align: left;
        width: inherit;
        margin: 0;
        margin-bottom: 9px;
        margin-left: 11px;
      }
    }

    &:not(:first-child) {
      @media (min-width: $tablet-width) {
        margin-left: 12px;
      }
    }
  }
}

.gym__content-picture {
  margin: 0;
  width: 320px;
  height: 280px;
  background-color: $color-ghost-white;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 345px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 660px;
    height: 400px;
  }
}

.gym__img {
  width: 320px;
  height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    width: initial;
    height: initial;
  }
}
