.header {
  padding-top: 15px;
  padding-bottom: 32px;

  color: $color-main-light;

  background: $blue-to-red-background;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}
