.header__wrapper {
  display: flex;
  gap: 10px 30px;
  justify-content: space-between;
  min-height: 54px;
  padding-top: 17px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding: 31px 44px 0 45px;
    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    min-height: 86px;
    padding: 29px 139px 0 140px;
  }
}

.header__logo {
  margin-right: 30px;
}

.header__nav {
  align-self: flex-start;
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: $alumni;
}

.header__phone {
  text-decoration: none;
  color: $color-default-white;
  letter-spacing: 0.4px;
  font-weight: $semi-bold;
  font-size: 20px;
  line-height: 24px;

  &:hover,
  &:disabled {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    margin-top: -2px;
    font-size: 30px;
    line-height: 24px;
    font-weight: $bold;
  }

  @media (min-width: $desktop-width) {
    font-weight: $semi-bold;
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 0.018em;
    margin: 0;
  }
}
