.hero__container {
  display: grid;

  column-gap: 21px;

  grid-template-columns: repeat(2, 1fr);
  row-gap: 49px;

  @media (min-width: $tablet-width) {
    column-gap: 28px;

    grid-template-columns: 1fr 1fr auto;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 72px;
    padding-left: 147px;

    column-gap: 0;

    grid-template-columns: auto 1fr 556px;
  }
}

.hero__content-list {
  align-self: end;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    align-self: center;

    margin-block: 0;
  }
}

.hero__content-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: right;

  @media (min-width: $tablet-width) {
    line-height: 157%;
  }
}

.hero__titles {
  align-self: center;

  text-align: end;

  grid-column: 2 /3;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-bottom: 40px;
  }
}

.hero__titles-subtitle {
  margin: 0 0 14px;

  text-align: right;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-bottom: 10px;
    padding-right: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-right: 0;
  }
}

.hero__titles-title {
  margin: 0;

  font-weight: 800;
  font-size: 62px;
  line-height: 100%;
  font-family: $ff-alumni;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 118%;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 120%;
    letter-spacing: 4px;
  }
}

.hero__content-button {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 324px;
    height: 390px;
    margin: 0 auto;

    vertical-align: middle;

    grid-column: 3 / 4;
    grid-row: 1 / 3;
    justify-self: center;

    @media (min-width: $desktop-width) {
      width: 500px;
      height: 524px;
      margin: 0;
      margin-left: 56px;

      justify-self: start;
    }
  }
}

.hero__image img {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 100%;
  }
}
