.hero {
  width: 100%;
  background: $main-gradient;
  min-height: 412px;

  @media (min-width: $tablet-width) {
    min-height: 574px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    min-height: 574px;
    margin-bottom: 64px;
  }
}
