.main__wrapper {
  display: block;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
  }
}

.main__about {
  width: 299px;
  display: flex;
  flex-direction: column;
  color: $color-default-white;
  font-family: $alumni;
  padding-top: 48px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 408px;
    padding-top: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
  }
}

.main__description {
  display: flex;
  margin: 0;
  font-size: 32px;
  font-weight: $semi-bold;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin-bottom: 13px;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 41px;
    margin-bottom: 10px;
    margin-right: 0;
    padding-right: 28px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 54px;
    line-height: 57px;
    margin-bottom: 39px;
    margin-right: 25px;
  }
}

.main__button {
  width: 275px;
  font-family: $roboto;
  font-size: 12px;
  font-weight: $bold;
  line-height: 12px;
  color: $color-default-white;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  word-break: break-word;
  background-color: transparent;
  border: $border-white;
  margin: 0 auto;
  padding: 22px 7px 22px 4px;

  @media (min-width: $tablet-width) {
    width: 172px;
    padding: 21px 5px 21px 4px;
    line-height: 10px;
    margin: 0;
    margin-left: 139px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    padding: 27px 16px 25px 17px;
    align-self: end;
    margin: 0;
    margin-right: 28px;
  }
}

.main__list-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.main__list-header {
  width: 243px;
  flex-grow: 1;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  line-height: 63px;
  font-weight: $semi-bold;
  font-size: 57px;
  margin: 0;
  margin-left: auto;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    line-height: 85px;
    font-size: 67px;
    letter-spacing: 0.06em;
    margin-bottom: 51px;
    margin-left: 0;
    margin-right: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
    margin-bottom: 40px;
    margin-right: 28px;
  }
}

.main__list-span {
  @media (min-width: $desktop-width) {
    margin-right: 2px;
  }
}

.main__list {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 18px;
  margin-left: 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    margin-bottom: 51px;
  }
}

.main__list-item {
  font-weight: $regular;
  font-family: $roboto;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
  overflow-wrap: break-word;
}

.main__picture {
  margin: 0;
  margin-left: auto;
}

.main__img {
  display: none;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    display: block;
    width: 324px;
    height: 390px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 524px;
  }
}
