.main__wrapper {
  display: grid;
  column-gap: 30px;
  padding-bottom: 50px;
  grid-template-columns: 1fr;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 120px 289px;
    column-gap: 64px;
    grid-template-columns: 377px 1fr;

  }
}

.main__about {
  display: grid;
  justify-items: end;
  grid-template-rows: repeat(3, min-content);
  color: $color-default-white;
  font-family: $alumni;
  margin-top: 48px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.main__description {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin-right: 14px;
  margin-bottom: 13px;
  font-weight: $semi-bold;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 41px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    margin-right: -5px;
    font-size: 54px;
    line-height: 57px;
  }
}

.main__button {
  position: absolute;
  top: 320px;
  left: 15px;
  padding: 22px 5px 22px 6px;
  letter-spacing: 0.01em;
  cursor: pointer;
  user-select: none;
  word-break: break-word;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $bold;
  line-height: 12px;
  font-family: $roboto;
  width: 275px;
  background-color: transparent;
  border: 2px solid $color-default-white;
  color: $color-default-white;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 172px;
    top: 271px;
    left: 139px;
    padding: 21px 5px 21px 4px;
    line-height: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    top: 355px;
    left: 113px;
    padding: 27px 16px 25px 17px;
  }
}

.main__list-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0 25px;
  position: relative;


  @media (min-width: $tablet-width) {
    position: static;
    gap: 0 24px;
  }

}

.main__list-header {
  flex-grow: 1;
  margin: 0;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  line-height: 63px;
  font-weight: $semi-bold;
  font-size: 57px;
  margin-bottom: 22px;
  padding-right: 14px;
  -webkit-text-stroke-width: 3px;
  margin-left: auto;
  width: 200px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    margin-left: 0;
    line-height: 85px;
    font-size: 67px;
    margin-right: -3px;
    letter-spacing: 0.06em;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
    margin-right: -6px;
  }
}

.main__list-span {

  @media (min-width: $desktop-width) {
    margin-right: 2px;
  }
}

.main__list {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 17px;
  top: 64px;

  @media (min-width: $tablet-width) {
    position: static;
    left: 0;
    top: 0;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
    margin-left: 2px;
  }
}

.main__list-item {
  font-weight: $regular;
  font-family: $roboto;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
  overflow-wrap: break-word;
}

.main__picture {
  margin: 0;

  img {
    display: none;
    object-fit: cover;

    @media (min-width: $tablet-width) {
      display: block;
      width: 324px;
      height: 390px;
    }

    @media (min-width: $desktop-width) {
      width: 500px;
      height: 524px;
    }
  }
}
