.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.nav__logo {
  display: inline-block;
  min-width: 100px;
  height: 20px;
  padding-top: 1px;

  color: $color-main-light;

  @media (min-width: $tablet-width) {
    min-width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    min-width: 130px;
    height: 26px;
  }
}

.nav__contacts {
  position: relative;

  display: inline-block;
  align-self: flex-start;

  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  font-family: $ff-roboto;
  color: $color-main-light;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $color-main-dark;
    transform: scale(0);
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus,
  &:focus-visible {
    color: $color-accent;
  }

  &:active {
    color: $color-main-dark;

    &::after {
      transform: scale(1);
    }
  }

  &:disabled,
  &--disabled {
    color: $color-disabled;

    pointer-events: none;
  }
}
