.video {
  width: 320px;
  height: 3px;
  transform: translate(0);
  background-color: $color-default-black;
  padding-bottom: 52.25%;
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 1120px;
    left: 249px;
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 360px;
    height: 230px;
    top: 520px;
    left: 683px;
  }
}

.video--enabled {
  cursor: pointer;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.video__button {
  outline: none;
  border: none;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background: $button-gradient;
  border-radius: 50%;

  &:active {
    background: $color-default-white;
    width: 52px;
    height: 52px;

  }

  &:focus {
    background: $color-link-water;
  }

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 72px;
  }
}

.video__button-img {
  width: 72px;
  height: 72px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.video:hover .video__button-border {
  stroke: $color-sapphire;
  stroke-opacity: 0.6;
}

.video:hover .video__button {
  background: $color-default-white;
}

.video:hover .video__button-center {
  fill: $color-sapphire;
  opacity: 0.6;
}

.video__button:focus .video__button-border,
.video__button:active .video__button-border {
  stroke: $color-sapphire;
  opacity: 1;
}

.video__button:focus .video__button {
  background: $color-link-water;
}

.video__button:focus .video__button-center,
.video__button:active .video__button-center {
  fill: $color-sapphire;
  opacity: 1;
}

.video__button:disabled {
  opacity: 0.4;
  pointer-events: none;
}
