// Сustom сolor

$color-sapphire: #102654;
$color-egyptian-blue: #103aae;
$color-resolution-blue: #1c3374;
$color-crimson: #d10a42;
$color-ghost-white: #f8f9fc;
$color-red: #ed0233;
$color-black-russian: #030a1a;
$color-torch-red: #ff121f;
$color-link-water: #c8c9cc;

// Default color

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Gradient

$main-gradient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$extra-gradient: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$button-gradient: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);

// Typography

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$roboto: "Roboto Condensed", "Arial", sans-serif;
$alumni: "Alumni Sans", "Arial", sans-serif;

// Border

$border-black: 2px solid $color-default-black;
$border-white: 2px solid $color-default-white;

// Width
$desktop-width: 1336px;
$tablet-width: 768px;
$mobile-width: 320px;
