// Vendor

@import "vendor/normalize";

// Global

@import "global/variables";
@import "global/fonts";
@import "global/global";
@import "global/utils";

// Blocks

@import "blocks/button";
@import "blocks/title";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/hero";
@import "blocks/about";
@import "blocks/video-block";
