// Vendor
// ---------------------------------

@import "vendor/normalize";

/* GLOBAL */
@import "global/variables";
@import "global/fonts";

/* BLOCKS */
@import "blocks/no-js";
@import "blocks/button";
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/hero";
@import "blocks/gym";
@import "blocks/video";
